<!DOCTYPE html>
<html>
<head>
	<title>Crie sua conta</title>
</head>
<body>
	<form method="POST" action="php/dados.php">
		<label>Nome: </label><br>
		<input type="text" name="nome" placeholder="insira seu nome"><br><br>
		<label>Login: </label><br>
		<input type="text" name="login" placeholder="insira seu login"><br><br>
		<label>Senha: </label><br>
		<input type="text" name="senha" placeholder="insira sua senha"><br><br>
		<input type="submit" name="botao" value="Enviar">
		<input type="submit" name="botao" value="Exibir">	
	</form>

</body>
</html>